$chart-margin = 40px

.section--scroll
	position relative
	min-height 480px
	width 100%
	.layer
		&--capture
			.bar
				fill $c5
		&--born
			.bar
				fill lighten($c1, 25)
				fill $c3
		&--rescue
			.bar
				fill $c3
				fill lighten($c1, 25)
				

.scroll
	&.is-untouchable
		pointer-events none
				
.scroll__graphic
	width 100%
	position absolute
	top 0
	right 0
	transform translate3d(0, 0, 0)
	display flex
	align-items center
	transition opacity $video-transition
	&.is-bottom
		top auto
		bottom 0
	&.is-fixed
		position fixed
			
	.graphic__container
		width 95%
		max-width 60rem
		margin 0 auto
		position relative
	
	.container__video
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.axis
		path
			stroke $c1-inverted
		text
			font-size 12px
			fill $c1-inverted
		line 
			stroke $c1-inverted
	.axis--x 
		.tick line
			display none
	.axis--y
		path
			display none
		line
			stroke-dasharray 4px 4px
			opacity 0.25
		.tick:nth-child(3)
			display none
		.label
			font-size 12px
			fill $c1-inverted
			font-weight bold
			text-transform uppercase
			letter-spacing 0.05em
			
		

.scroll__prose
	max-width 30rem
	margin 0 auto
	position relative
	// &.is-fixed
	// 	+mq('bp-desktop')
	// 		.scroll__video
	// 			position fixed
		
.prose__step
	padding 1rem
	position relative
	p 
		margin 0
		padding 1rem
		background-color $c1
		border-radius 3px
		box-shadow 0 0 12px 3px lighten($c1, 5)
		
.scroll__video 
	position absolute
	opacity 0
	pointer-events none
	transition 500ms all ease-in-out
	&:hover
		.audio svg
			fill-opacity 1
	&.is-visible
		opacity 1
		pointer-events auto
	video
		transition 300ms all ease-in-out
		border-radius 3px
		box-shadow 0 0 12px 6px lighten($c1, 5)
		cursor pointer
		position relative
		position absolute
		top 0
		left 0
		// display none
		&:hover
			box-shadow 0 0 12px 6px rgba(white, 0.5)
		&.unmuted
			box-shadow 0 0 12px 6px rgba(white, 0.5)
	img 
		display block
		width 100%
		height 100%
		top 0
		left 0
		border-radius 3px
	
	.video__line
		z-index 0
		position absolute
		top 100%
		width 1px
		border-left 1px dashed $c1-inverted
		margin-left -1px
		display none
		+mq('bp-desktop')
			display block
		&.left
			left 0
		&.right
			right 0
		&.center
			left 50%

.video__ui
	position absolute
	bottom 0
	right 0
	padding 0.4rem
	pointer-events none
	svg 
		fill white
		fill-opacity 0.65
		transition 300ms all ease-in-out
		width 1.5rem
		height 1.2rem
	.audio--on
		display block
	.audio--off
		display none
	&.is-muted
		.audio--on
			display none
	&.is-muted
		.audio--off
			display block

.graphic__legend
	position absolute
	top 0
	right 20px
	line-height 1
	transform translateY(-200%)
	
	li 
		display inline-block
		set-type-size('x-small')
		text-transform uppercase
		letter-spacing 0.05em
		line-height 1
		color $c1-inverted
		margin-left 0.75em
		&:before
			content ''
			display inline-block
			width 0.75em
			height 0.75em
			vertical-align middle
			margin-top -0.25em
			margin-right 0.5em
		&.captured:before
			background-color $c5
		&.born:before
			background-color $c3
		&.rescued:before
			background-color lighten($c1, 25)