$chart-margin = 40px

.section--scroll
	position relative
	min-height 480px
	width 100%
	.layer
		&--capture
			.bar
				fill $c7
		&--born
			.bar
				fill $c5
				
		&--rescue
			.bar
				fill $c3

.scroll
	&.is-untouchable
		pointer-events none
				
.scroll__graphic
	width 100%
	position absolute
	top 0
	right 0
	transform translate3d(0, 0, 0)
	display flex
	align-items center
	transition opacity $video-transition
	&.is-bottom
		top auto
		bottom 0
	&.is-fixed
		position fixed
			
	.graphic__container
		width 100%
		max-width 60rem
		margin 0 auto
		position relative
	
	.container__video
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.axis
		path
			stroke $c1-inverted
		text
			fill $c1-inverted
		line 
			stroke $c1-inverted

.scroll__prose
	max-width 30rem
	margin 0 auto
	position relative
	// &.is-fixed
	// 	+mq('bp-desktop')
	// 		.scroll__video
	// 			position fixed
		
.prose__step
	padding 1rem
	position relative
	p 
		margin 0
		padding 1rem
		background-color $c1
		border-radius 3px
		box-shadow 0 0 12px 3px lighten($c1, 5)
		
.scroll__video 
	position absolute
	opacity 0
	top $chart-margin
	pointer-events none
	transition 500ms all ease-in-out
	&.is-visible
		opacity 1
		pointer-events auto
	video
		transition 300ms all ease-in-out
		border-radius 3px
		box-shadow 0 0 12px 6px lighten($c1, 5)
		cursor pointer
		position relative
		&:hover
			box-shadow 0 0 12px 6px rgba(white, 0.5)
		&.unmuted
			box-shadow 0 0 12px 6px rgba(white, 0.5)
	
	.video__line
		z-index 0
		position absolute
		top 100%
		width 1px
		border-left 1px dashed rgba(white, 0.5)
		margin-left -1px
		&.left
			left 0
		&.right
			right 0
		&.center
			left 50%
		
.btn__audio
	background-color transparent
	background-color $c3
	color darken($c3, 40)
	padding 0.25em
	border-radius 2px
	font-size 0.75em
	text-transform uppercase
	letter-spacing 0.025em
	font-weight bold
	display inline-block
	margin-left 0.5em
	svg
		fill darken($c3, 40)
		width 1em
		height 1em
		vertical-align middle
		margin-top -4px