.section--cod
	padding 0 1rem
	margin-top 4rem
	margin-bottom 4rem
	
	table
		width 100%
		max-width 30rem
		margin 0 auto
		
		th 
			font-weight bold
			text-align right
			border-bottom 2px solid white
			text-transform uppercase
			letter-spacing 0.05em
			padding 0.35em 0
		th:nth-child(1)
			text-align left
		td
			text-align right
			padding 0.35em 0
			text-transform capitalize
		td:nth-child(1)
			text-align left
		
		tr 
			border-bottom 1px dashed rgba($c1-inverted, 0.25)
		// tr:nth-child(even)
		// 	background-color lighten($c1, 2)