.section--death
	padding 0 1rem
	
.death__graphic
	width 100%
	
	.graphic__container
		width 100%
		max-width 60rem
		margin 0 auto
		margin-bottom 4rem
		
	.axis
		path
			stroke $c1-inverted
		text
			fill $c1-inverted
			font-size 12px
		line 
			stroke $c1-inverted
	
	.axis--x 
		.tick
			line 
				display none
		
	.axis--y 
		path
			display none
		line
			stroke-dasharray 4px 4px
			opacity 0.25
		.tick:nth-child(3)
			display none
		
		.label 
			font-weight bold
			font-size 12px
			text-transform uppercase
			letter-spacing 0.05em

.slider__group			
	display flex
	flex-direction column
	justify-content center
	max-width 35rem
	margin 2rem auto
	.slider 
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		+mq('bp-desktop')
			flex-wrap nowrap
		margin-bottom 0.5rem
	p 
		margin 0
		width 100%
		text-align center
		set-type-size('small')
		+mq('bp-desktop')
			set-type-size('medium')
			width 50%
			text-align left
		&.output
			width 100%
			text-align center
			font-weight bold
			set-type-size('medium')
	span 
		font-weight bold
		color $c5
	.input
		vertical-align middle
		display block
		width 100%
		max-width 20rem
		margin 1rem auto
		+mq('bp-desktop')
			display inline-block
			width 50%
				
.deathLine 
	fill none
	stroke $c5
	stroke-width 2px