.section--death
	padding 0 1rem
	
.death__graphic
	width 100%
	
	.graphic__container
		width 100%
		max-width 60rem
		margin 0 auto
		
	.axis
		path
			stroke $c1-inverted
		text
			fill $c1-inverted
			font-size 12px
		line 
			stroke $c1-inverted
			
.slider
	
	.ticks
		text
			fill $c1-inverted
				
.deathLine 
	fill none
	stroke $c5
	stroke-width 2px