.section--death
	position relative
	min-height 1000px
	width 100%
	
.death__graphic
	width 100%
	background rgba(255,0,0,0.1)
	/*position absolute*/
	top 0
	right 0
	transform translate3d(0, 0, 0)
	display flex
	align-items center
	
	.graphic__container
		width 100%
		max-width 60rem
		margin 0 auto
	
.prose
	max-width 30rem
	margin 0 auto
	position relative

	+mq('bp-desktop')
		margin 0
		
.prose--title
	max-width 40rem
	margin 0 auto
	position relative
	text-align center

/*	+mq('bp-desktop')
		margin 0*/
		

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.line 
	fill none
	stroke $aliveColor
	stroke-width 2px