// .section--explore

.prose
	max-width 30rem
	margin 0 auto
	position relative

	+mq('bp-desktop')
		margin 0
		
.prose--title
	max-width 40rem
	margin 0 auto
	position relative
	text-align center

	+mq('bp-desktop')
		margin 0
