header
	z-index set-index('overlay')
	// margin 1rem auto
	// max-width 12rem
	position absolute
	top 0
	left 0
	width 100%
	text-align center

	a.logo
		display block
		border none
		margin 1rem auto
		max-width 9rem

		svg
			fill $off-white
			display block
			width 100%