.section--lifespan
	padding 0 1rem

.lifespan__graphic
	max-width 60rem
	margin 2rem auto
	
	.graphic__toggle
		display none
		display flex
		justify-content center
		margin-bottom 2rem
		li 
			display inline-block
			margin-right 0.5em
		button
			width 7rem