.orcaDeath__graphic
	width 100%
	background rgba(255,0,0,0.1)
	/*position absolute*/
	top 0
	right 0
	transform translate3d(0, 0, 0)
	display flex
	align-items center
	
	.graphic__container
		width 100%
		max-width 60rem
		margin 0 auto
		

	.axis
		display none

/*		path
			stroke $off-white
			marker-end url(#arrowHead)
		text
			fill $off-white
		line 
			stroke $off-white*/
			
.area
	fill $off-white
	opacity .2
	
#areaClip
	fill $purple-dark
	
.level
	
	&--High
		
		.line
			stroke $primary
			stroke-width 2px
			stroke-dasharray 8,4
			fill none
			
	&--Low
		
		.line
			stroke $tertiary
			fill none
			
		

			
.circle
	
	&--beginning
		fill white
		
	&--endHigh
		fill $primary
		
	&--endLow
		fill $tertiary


.popG
			
	.popLine
		stroke $off-white
		
	.popText
		fill $off-white
		text-transform uppercase
		
	.popRect
		fill $purple-dark
	