/* CUSTOM STORY STYLE */

$captureColor = #25273D
$bornColor = #538FA8
$rescueColor = #999999

.layers

	&__capture
		
		.bars
			fill $captureColor
			
	&__born
	
		.bars
			fill $bornColor
			
	&__rescue
	
		.bars
			fill $rescueColor
