/* CUSTOM STORY STYLE */

body
	background-color $c1
	color $off-white
	
svg text
	font-family $sans

.prose
	max-width 40rem
	margin 0 auto
	padding 2rem 0 1rem 0
	
	&__hed
		color $c5
		font-weight 500
		set-type-size('large')
		// +mq('bp-desktop')
		// 	set-type-size('x-large')
	
.graphic__hed
	margin 1rem auto
	margin-top 4rem
	max-width 60rem
	text-align center
	// set-type-size('large')
	// +mq('bp-desktop')
	set-type-size('x-large')

.btn
	background-color $c1
	border 1px solid white
	border-radius 3px
	color white
	padding 0.25em 0.5em
	text-transform uppercase
	font-weight bold
	letter-spacing 0.05em
	set-type-size('x-small')
	transition background-color 250ms
	&:hover
		background-color lighten($c1, 10)
	&.is-selected
		background-color $primary
		color $c1

mark
	background-color transparent
	color $c5
	
.outro
	max-width 40rem
	margin 0 auto
	padding 1rem
	p 
		set-type-size('small')
		&:first-child
			padding-top 1rem
			border-top 1px solid $c1-inverted

.methodology__note
	max-width 40rem
	margin 0 auto
	background-color lighten($c1, 5)

	p
		padding 1rem
		line-height 1.8