/* CUSTOM STORY STYLE */

body
	background-color $c1
	color $off-white
	font-size 18px
	
p
	font-size 18px

svg text
	font-family $sans

.prose
	max-width 40rem
	margin 0 auto
	padding 0 1rem
	
	&__hed
		color $c5
		font-weight bold
	
.graphic__hed
	margin 1rem auto
	margin-top 4rem
	max-width 40rem
	text-align center

.btn
	background-color $c1
	border 1px solid white
	border-radius 3px
	color white
	padding 0.25em 0.5em
	text-transform uppercase
	font-weight bold
	letter-spacing 0.05em
	set-type-size('x-small')
	transition background-color 250ms
	&:hover
		background-color lighten($c1, 10)
	&.is-selected
		background-color $primary
		color $c1

mark
	background-color transparent
	color $c5
	