<section class='section--scroll'>
	<div class='scroll'>
		{{!-- <div class='scroll__video'>
			<video src='assets/dolphin-bomb.mp4' preload autoplay loop muted></video>
		</div> --}}
		<div class='scroll__prose'>
			<div class='prose__step' data-step='0'>
				<p>In order to tell a story about these animals, we first need to understand how they came to be in aquariums in the first place. That is, how did we get them?</p>
			</div>	
			<div class='prose__step' data-step='1'>
				<p>Well, back in the late 1930's they were captured from the ocean and ended up in the first marine mammal park in the US: Marine Studios. For the next 20 years or so, a handful of animals were captured annually and kept in the US.</p>
			</div>
			<div class='prose__step' data-step='2'>
				<p>But in 1963 "Flipper" hit big screens nationwide and suddenly everyone wanted to see or own a dolphin. They were being displayed in aquariums, roadside attractions, restaurants, and even swimming pools. </p>
			</div>
			<div class='prose__step' data-step='2.5'>
				<p>	And at the time, this wasn't shocking. We knew almost nothing about these animals, and often they were considered a nuisance. If you're finding this hard to believe, check out this scene from the 1963 version of Flipper.</p>

				<p class='quote'>Father: “Try to understand son, if the dolphins come, they tear our nets. They eat our fish. They chase the rest away. They come, we’ll kill them.” <br>Son: “Even Flipper?”<br> Father: “Even Flipper.”</p>

				<p> Yeah, ouch. </p>

			</div>
			<div class='prose__step' data-step='3'>
				<p>At this point, capturing dolphins was completely unregulated. But at the end of 1972, all of that was about to change. The Marine Mammal Protection Act, a law which regulates where, when, and why animals were captured went into effect in December. In the months leading up to increased regulation, the number of annual captures more than tripled.</p>
			</div>
			<div class='prose__step' data-step='4'>
				<p>Even after regulations were in place, animals were still (legally) captured from the ocean for another 24 years, but then the captures voluntarily stopped.</p>
			</div>
			<div class='prose__step' data-step='5'>
				<p>And although a few animals had been born in captivity in the early years, the majority of new animals were captive-born starting in the early 1990's. After 1997, 89% of new whales and dolphins were born and raised in human care.</p>
			</div>
			<div class='prose__step' data-step='6'>
				<p>The remaining 11% of new animals were rescued and were unable to be released to the ocean after rehabilitation.</p>
			</div>
		</div>
		<div class='scroll__graphic'></div>
	</div>
</section>
