<section class='section--scroll'>
	<div class='scroll'>
		<div class='scroll__graphic'>
			<div class='graphic__container'></div>
		</div>

		<div class='scroll__prose'>
			<div class='prose__step' data-step='data--0'>
				<p>In order to tell a story about these animals, we first need to understand how they came to be in aquariums in the first place. That is, how did we get them? Well, back in the late 1930s they were captured from the ocean and ended up in the first marine mammal park in the US: Marine Studios.</p>
			</div>	
			<div class='prose__step' data-step='data--1'>
				<p>For the next 20 years or so, a handful of animals were captured annually and kept in the US.</p>
			</div>
			<div class='prose__step' data-step='data--2'>
				<p>But in 1963 "Flipper" hit big screens nationwide and suddenly everyone wanted to see or own a dolphin. More animals were captured so that they could be displayed in aquariums, roadside attractions, restaurants, and even swimming pools. </p>
			</div>
			<div class='prose__step' data-step='video--2'>
				<p>And at the time, this wasn't shocking. We knew almost nothing about these animals, and often they were considered a nuisance. If you're finding this hard to believe, check out this scene from the 1963 version of Flipper. <button class='btn btn__audio tk-atlas'>Listen @@include('audio-on.svg')</button></p>

				<div class='scroll__video' data-step='video--2'>
					<video src='assets/flipper.mp4' playsinline preload loop muted></video>
					<div class='video__overlay'></div>
				</div>

			{{!-- 	<p class='quote'>Father: “Try to understand son, if the dolphins come, they tear our nets. They eat our fish. They chase the rest away. They come, we’ll kill them.” <br>Son: “Even Flipper?”<br> Father: “Even Flipper.”</p>

				<p> Yeah, ouch. </p> --}}

			</div>
			<div class='prose__step' data-step='data--3'>
				<p>At this point, capturing dolphins was completely unregulated. But at the end of 1972, all of that was about to change. The Marine Mammal Protection Act, a law which regulates where, when, and why animals were captured went into effect in December. In the months leading up to increased regulation, the number of annual captures more than tripled.</p>
			</div>
			<div class='prose__step' data-step='data--4'>
				<p>But during this time, researchers were learning more about dolphin intelligence, communication, social structures, and reproduction.</p>
			</div>
			<div class='prose__step' data-step = 'video--4'>
				<p> And in Douglas Adams' "Hitchhikers Guide to the Galaxy" books, dolphins were referred to as the only animals on the planet who knew of our world's coming destruction (and we were too stupid to take their hints).</p>
				<div class='scroll__video' data-step='video--4'>
					<video src='assets/hitchhikersguide.mp4' playsinline preload loop muted></video>
					<div class='video__overlay'></div>
				</div>
			</div>
			<div class='prose__step' data-step='data--5'>
				<p>So by the early 90's, when Free Willy and the Flipper re-make were released, Americans (as a whole) had a different view towards these animals. They weren't nuisance creatures anymore, but intelligent, social animals that shouldn't be captured.</p>
			</div>
			<div class='prose__step' data-step='data--6'>
				<p>And although a few animals had been born in captivity in the early years of dolphinariums, it was in the early 90's when captive breeding became the primary method of attaining new animals. After 1997, 89% of new whales and dolphins were born and raised in human care.</p>
			</div>
			<div class='prose__step' data-step='video--6'>
				<p>Of course, the most famous of these rescued animals is Winter, the fluke-less dolphin featured in the 2011 film "Dolphin Tale".</p>
				<div class='scroll__video' data-step='video--6'>
					<video src='assets/dolphintale.mp4' playsinline preload loop muted></video>
					<div class='video__overlay'></div>
				</div>
			</div>
			<div class='prose__step' data-step='data--7'>
				<p>The remaining 11% of new animals were rescued and were unable to be released to the ocean after rehabilitation.</p>
			</div>
		</div>
	</div>
</section>
