<section class='section--scroll'>
	<div class='scroll'>
		
		<div class='scroll__graphic'>
			<div class='graphic__container'>
				<ul class='graphic__legend tk-atlas'>
					<li class='captured'>Captured</li>
					<li class='born'>Born in captivity</li>
					<li class='rescued'>Rescued</li>
				</ul>
				<svg></svg>
				<div class='container__video'>
					<div class='scroll__video' data-step='video--0'>
						<img src='assets/marineland.jpg'>
						<video src='assets/marineland.mp4' poster='assets/marineland.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--2'>
						<img src='assets/flipper.jpg'>
						<video src='assets/flipper.mp4' poster='assets/flipper.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--4'>
						<img src='assets/hitchhikers.jpg'>
						<video src='assets/hitchhikers.mp4' poster='assets/hitchhikers.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--7'>
						<img src='assets/dolphintale.jpg'>
						<video src='assets/dolphintale.mp4' poster='assets/dolphintale.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class='scroll__prose'>
			
			<div class='prose__step' data-step='video--0'>
				<p>In the 1930's, when cetaceans were first displayed in the US, they came from the waters around Florida. Captures at the time were unregulated, so, yes, they were pretty unpleasant. </p>
			</div>
			<div class='prose__step' data-step='data--1'>
				<p>For the next 20 years or so, a handful of animals were captured per year and displayed in a few marine parks. </p>
			</div>
			<div class='prose__step' data-step='data--2'>
				<p>But in 1963 “Flipper” hit big screens nationwide and suddenly everyone wanted to see or own a dolphin. More animals were captured so that they could be displayed in aquariums, roadside attractions, restaurants, and even swimming pools. </p>
			</div>
			<div class='prose__step' data-step='video--2'>
				<p>And at the time, this wasn't shocking. We knew almost nothing about these animals, and often they were considered a nuisance. If you're finding this hard to believe, check out this scene from the 1963 version of Flipper.</p>
			</div>

			<div class='prose__step' data-step='data--3'>
				<p>At this point, capturing cetaceans was still unregulated. The Marine Mammal Protection Act, a law which regulates where, when, and why animals were captured went into effect in late 1972. In the months leading up to the increased regulation, the number of annual captures more than tripled.</p>
			</div>
			<div class='prose__step' data-step='data--4'>
				<p>Around this same time, researchers were studying the aquarium-housed animals. They learned about dolphin intelligence, communication, social structures, and reproduction. </p>
			</div>
			<div class='prose__step' data-step = 'video--4'>
				<p>This newfound respect for cetacean intelligence showed up repeatedly in pop culture at the time. For instance, in the “Hitchhikers Guide to the Galaxy” books, dolphins were referred to as the only animals on the planet who knew of our world's coming destruction (and humans were too stupid to take their hints).</p>
			</div>

			<div class='prose__step' data-step='data--5'>
				<p>After 50 years of cetacean captivity, the American public was starting to think of these animals differently. Maybe it was seeing these live animals in aquariums that inspired a great love for them. Or, perhaps, scientific research or pop cultural references shifted the public’s perception. Regardless of the cause, cetaceans were now considered to be intelligent and social animals that shouldn't be captured. And so, <mark>without any law restricting it</mark>, aquariums in the US stopped capturing wild cetaceans completely.</p>
			</div>
			<div class='prose__step' data-step='data--6'>
				<p>Once wild-captures had ended, captive breeding became the primary method of gaining new animals in US facilities.</p>
			</div>
			<div class='prose__step' data-step='video--7'>
				<p>The remaining new admissions were all rescued animals, like Winter, the fluke-less dolphin featured in the 2011 film “Dolphin Tale”.</p>
			</div>

			<div class='prose__step' data-step='data--7'>
				<p>These rescued animals wouldn't have survived without the facilities to house them and experienced care-takers to rehabilitate them.</p>
			</div>
		</div>

	</div>
</section>
