
<section class='section--scroll'>
	<div class='scroll'>
		<div class='scroll__prose'>
			<div class='prose__step' data-step='1'>
				<p>Text</p>
			</div>
			<div class='prose__step' data-step='2'>
				<p>Text2</p>
			</div>
			<div class='prose__step' data-step='3'>
				<p>Text3</p>
			</div>
		</div>
		<div class='scroll__graphic'></div>
	</div>
</section>
