<section class='section--scroll'>
	<div class='scroll'>
		
		<div class='scroll__graphic'>
			<div class='graphic__container'>
				<svg></svg>
				<div class='container__video'>
					<div class='scroll__video' data-step='video--0'>
						<video src='assets/marineland.mp4' poster='assets/marineland.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--2'>
						<video src='assets/flipper.mp4' poster='assets/flipper.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--4'>
						<video src='assets/hitchhikers.mp4' poster='assets/hitchhikers.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
					<div class='scroll__video' data-step='video--6'>
						<video src='assets/dolphintale.mp4' poster='assets/dolphintale.jpg' playsinline preload muted loop></video>
						<div class='video__ui is-muted'>
							<span class='audio audio--off'>@@include('audio-off.svg')</span>
							<span class='audio audio--on'>@@include('audio-on.svg')</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='scroll__prose'>
			<div class='prose__step' data-step='video--0'>
				<p>In order to tell a story about these animals, we first need to understand how they came to be in aquariums in the first place. That story begins back in the late 1930s when cetaceans were captured from the ocean and displayed in first US marine park.</p>
			</div>
			<div class='step__video'>
					<video src='assets/marineland.mp4' poster='assets/marineland.jpg' playsinline preload muted loop autoplay></video>
					<div class='video__ui is-muted'>
						<span class='audio audio--off'>@@include('audio-off.svg')</span>
						<span class='audio audio--on'>@@include('audio-on.svg')</span>
					</div>
				</div>
			<div class='prose__step' data-step='data--1'>
				<p>For the next 20 years or so, a handful of animals were captured annually and kept in the US.</p>
			</div>
			<div class='prose__step' data-step='data--2'>
				<p>But in 1963 "Flipper" hit big screens nationwide and suddenly everyone wanted to see or own a dolphin. More animals were captured so that they could be displayed in aquariums, roadside attractions, restaurants, and even swimming pools. </p>
			</div>
			<div class='prose__step' data-step='video--2'>
				<p>And at the time, this wasn't shocking. We knew almost nothing about these animals, and often they were considered a nuisance. If you're finding this hard to believe, check out this scene from the 1963 version of Flipper.</p>
			</div>
			<div class='step__video'>
				<video src='assets/flipper.mp4' poster='assets/flipper.jpg' playsinline preload muted loop autoplay></video>
				<div class='video__ui is-muted'>
					<span class='audio audio--off'>@@include('audio-off.svg')</span>
					<span class='audio audio--on'>@@include('audio-on.svg')</span>
				</div>
			</div>
			<div class='prose__step' data-step='data--3'>
				<p>At this point, capturing cetaceans was unregulated. The Marine Mammal Protection Act, a law which regulates where, when, and why animals were captured went into effect in December 1972. In the months leading up to the increased regulation, the number of annual captures more than tripled.</p>
			</div>
			<div class='prose__step' data-step='data--4'>
				<p>Around this same time, researchers were learning more about dolphin intelligence, communication, social structures, and reproduction.</p>
			</div>
			<div class='prose__step' data-step = 'video--4'>
				<p>This newfound respect for cetacean intelligence showed up repeatedly in pop culture at the time, but one of the more extreme examples comes from Douglas Adams' "Hitchhikers Guide to the Galaxy" books. In the stories, dolphins were referred to as the only animals on the planet who knew of our world's coming destruction (and humans were too stupid to take their hints).</p>
			</div>
			<div class='step__video'>
				<video src='assets/hitchhikers.mp4' poster='assets/hitchhikers.jpg' playsinline preload muted loop autoplay></video>
				<div class='video__ui is-muted'>
					<span class='audio audio--off'>@@include('audio-off.svg')</span>
					<span class='audio audio--on'>@@include('audio-on.svg')</span>
				</div>
			</div>
			<div class='prose__step' data-step='data--5'>
				<p>By the early 90's, when Free Willy and the Flipper re-make were released, Americans (as a whole) had a different view towards these animals. They weren't nuisance creatures anymore, but intelligent, social animals that shouldn't be captured. And so, without any law restricting it, aquariums in the US stopped capturing wild cetaceans completely.</p>
			</div>
			<div class='prose__step' data-step='data--6'>
				<p>Once wild-captures had ended, captive breeding became the primary method of gaining new animals in US facilities.</p>
			</div>
			<div class='prose__step' data-step='video--6'>
				<p>The remaining new admissions were all rescued animals, like Winter, the fluke-less dolphin featured in the 2011 film "Dolphin Tale".</p>
			</div>
			<div class='step__video'>
				<video src='assets/dolphintale.mp4' poster='assets/dolphintale.jpg' playsinline preload muted loop autoplay></video>
				<div class='video__ui is-muted'>
					<span class='audio audio--off'>@@include('audio-off.svg')</span>
					<span class='audio audio--on'>@@include('audio-on.svg')</span>
				</div>
			</div>
			<div class='prose__step' data-step='data--7'>
				<p>These rescued animals were unable to be released back into the ocean and wouldn't have survived if marine mammal facilities didn't exist.</p>
			</div>
		</div>

	</div>
</section>
