<section class='section--cod'>
	<div class='prose'>
		<h2 class='prose__hed tk-canela'><strong>What about sea pens?</strong></h2>
		<p>One alternative plan that has been discussed a lot recently is to keep animals in “seaside sanctuaries” or “sea pens”. These are essentially nets that enclose a natural lagoon in the ocean. The animals would still need to be fed, trained, and cared for by veterinarians, but they would be in the ocean water.</p> 
 
		<p>Those in favor of sea pens claim that experiencing the ocean would act as a sort of “retirement” to animals kept in captivity for long periods of time. Those against sea pens cite that the ocean is home to diseases, pollution, and underwater “noise pollution” that could threaten the captive-born animals. Alternatively, some worry that putting these animals back into the ocean could introduce new problems for wild populations (think antibiotic resistant strains of diseases). </p>
 
		<p>It’s hard to know who is right here and what is best for both the captive and wild animals. But, we do have some data to work with. Some facilities within the US have always housed their animals in sea pens. Are there higher rates of disease-related deaths in sea pen housed animals?</p>
	</div>	

		<div class='cod__graphic'>
			<div class='graphic__container'>
				<table class='tk-atlas small'>
					<thead>
						<tr><th>Cause of Death</th><th>Sea Pen</th><th>Tank</th></tr>
					</thead>
					<tbody>
						<tr><td>pneumonia</td><td>19.2</td><td>27.9</td></tr>
						<tr><td>septicemia</td><td>10.9</td><td>6.6</td></tr>
						<tr><td>drowning</td><td>7.8</td><td>1.6</td></tr>
						<tr><td>euthanasia</td><td>3.6</td><td>3.9</td></tr>
						<tr><td>hepatitis</td><td>3.1</td><td>2.7</td></tr>
						<tr><td>old age</td><td>2.6</td><td>6.2</td></tr>
						<tr><td>heart failure</td><td>1.6</td><td>1.5</td></tr>
						<tr><td>hemorrhage</td><td>1.6</td><td>1.2</td></tr>
						<tr><td>peritonitis</td><td>1.0</td><td>0.8</td></tr>
						<tr><td>lung abscess</td><td>0.5</td><td>1.6</td></tr>
						<tr><td>pulmonary edema</td><td>0.5</td><td>0.9</td></tr>
						<tr><td>shock</td><td>0.5</td><td>1.8</td></tr>
						<tr><td>trauma</td><td>0.5</td><td>1.8</td></tr>
						<tr><td>zygomycosis</td><td>0.5</td><td>3.0</td></tr>
						<tr><td>ulcer</td><td>0.0</td><td>1.2</td></tr>
					</tbody>
				</table>
			</div>
		</div>
</section>