<section class='section--death'>

	<div class='death__graphic'>

		
		<div class='graphic__container'>
			<div class='slider__group'>
				<input type='range' class='slider' id='lifespan' value='20' min='15' max='62'>
				<input type='range' class='slider' id='breedingban' value='2030' min='2017' max='2050'>
			</div>
		</div>
	</div>

	<div class='prose'>
		<p>You may have noticed that if a breeding ban went into effect this year and all animals died young, we'd still have captive cetaceans until the early 2030's. The point is, these animals aren’t going anywhere anytime soon. </p>


	</div>
</section>