<section class='section--death'>

	<div class='death__graphic'>
		<h3 class='graphic__hed tk-canela'>When the Entire Captive Cetacean Population Could be Extinct</h3>
		
		<div class='graphic__container'>
			<div class='slider__group'>
				<div class='slider slider__lifespan'>
					<p class='tk-atlas'>If all captive cetaceans live to <span>20</span></p>
					<div class='input lifespan__input'></div>
				</div>
				<div class='slider slider__breedingban'>
					<p class='tk-atlas'>And breeding is banned in <span>2030</span></p>
					<div class='input breedingban__input'></div>
				</div>
				<p class='output tk-atlas'>Captive cetaceans won’t exist by <span>2049</span></p>
			</div>
		</div>
	</div>

	<div class='methodology__note tk-atlas'>
		<p class='x-small'>* Of course, there’s nothing saying that breeding <i>must</i> be banned at some point. And yes, we know it’s incredibly unlikely that all animals would live to the same age.</p>
	</div>

	<div class='prose'>
		<p>You may have noticed that if a breeding ban went into effect this year and all animals died young, we’d still have captive cetaceans until the early 2030s. The point is, these animals aren’t going anywhere anytime soon and these difficult conversations are going to continue. For more information, check out the data and links below.</p>
	</div>
</section>