<section class='section--explore'>
	<div class='prose--title'>
		<h3>Phew, 79 years of cetaceans! So what happened to them all?</h3>
	</div>
	<div class='prose'>
		<p>Between 1938 and 2017, at least 2867 animals were kept in human care. Today, when people discuss the ethics of keeping these animals in captivity, they often talk about “averages”. Average life span. Average number of calves. Average number of animals at a facility.  While averages can be useful, each of these animals is an individual. Let’s put some of those average values into context of the entire population.</p> 
	</div>

	<div class='explore__graphic'>
			 <div id = "toggleStatus", class = "toggle"></div>
			 <div id = "toggleAcq", class = "toggle"></div>
			 <div id = "toggleLocation", class = "toggle"></div>
			<div class='graphic__container'></div>
		</div>
</section>