<div class='intro'>
	<div class='intro__bg'>
		<video src='assets/willy.mp4' poster='assets/willy.jpg' muted preload autoplay loop playsinline></video>
		<div class='intro__overlay'></div>
	</div>

	<header>
		<a href='https://pudding.cool' target='_blank' class='logo'>
			@@include('logo.svg')
		</a>
	</header>
		
	<div class='intro__content'>
		<h1 class='intro__hed tk-canela'>Free Willy and Flipper by the Numbers</h1>
		<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
		
		<p class='intro__dek'>The past, present, and future of captive whales and dolphins according to data and pop culture.</p>
	</div>
</div>


<div class='intro__prose'>
	<div class='intro__video'>
		<video src='assets/willy.mp4' poster='assets/willy.jpg' muted preload autoplay loop playsinline></video>
	</div>

	<p>“I’ve got to look out for Willy and l’ve got to do what’s best for him.”</p>

 	<p>This tear-inducing quote came straight out of the 90’s classic  <em>Free Willy</em>. For Jesse, the main character, what’s “best” for Willy shifts drastically over the course of the film.</p> 

	<p>At the beginning, Jesse looks out for his orca-friend by feeding, training, and caring for him. Later, he decides that releasing Willy back to the ocean is best. Of course, this is an over-simplification of the story (and I’m leaving out the part where the aquarium owners <i>literally</i> tried to kill Willy for the insurance money). But the film raises an interesting question: <mark><strong>what is best for an animal that lives in an aquarium?</strong></mark> </p>

	<p>As humans, we can never really know what an animal is thinking or feeling, so we can only try to do what’s best for them based on the information we have. When it comes to dolphins and whales like Willy, people tend to split between two camps: either the animals can be properly cared for by humans or they all belong in the ocean. Although this debate may seem to have a narrow focus, it is starting to impact <a target='_blank' href='http://www.latimes.com/business/la-fi-seaworld-orcas-20151008-story.html'>local</a> <a target='_blank' href='http://nwpr.org/post/preemptive-ban-whale-and-dolphin-performances-proposed'>legislation</a>, <a target='_blank' href='https://www.theglobeandmail.com/news/british-columbia/vancouver-aquarium-caught-in-international-debate-about-cetaceans-incaptivity/article35455718/'>wild animal rescue</a>, <a target='_blank' href='http://www.sciencemag.org/news/2016/03/seaworld-stops-breeding-orcas-what-are-impacts-research'>scientific</a> <a target='_blank' href='http://www.huffingtonpost.com/terrie-m-williams/the-deafening-silence-of-voicless-dolphins_b_9792232.html'>research</a> and, of course, the over 500 animals currently living in the United States.  This argument can become heated, and the data presented by one side is frequently contradicted by information from the other.</p>

	<p>Using data from the <a target='_blank' href='https://foiaonline.regulations.gov/foia/action/public/view/request?objectId=090004d28075988d'>National Marine Mammal Inventory</a> and the crowd-sourced website, <a target='_blank' href='http://www.cetabase.org/'>Ceta Base</a>, we hope to shed some light on this complex topic. </p>


		<div class='prose'>
				<h2 class='prose__hed tk-atlas'>Where did they come from?</h2>
					<p>If you’ve seen either <a target='_blank' href='http://www.thecovemovie.com/'>The Cove</a> or <a target='_blank' href='http://www.blackfishmovie.com/'>Blackfish</a>, you may be under the impression that all captive whales and dolphins (i.e., cetaceans) were brutally captured from the ocean. In the US, that’s not the whole story. </p>

	</div>
</div>