<div class='intro'>
	<h1 class='intro__hed tk-canela'>Free Willy and Flipper by the Numbers</h1>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
	
	<p class='intro__dek'>A history of the past, present, and future of captive whales and dolphins according to data and pop culture.</p>

	<div class='intro__video'>
		<video src='assets/willy.mp4' muted preload autoplay loop></video>
	</div>
	
	<p class='intro__prose'>Free Willy is peak ‘90s nostalgia. Who watched this movie and didn’t fall in love with the black and white behemoth? Fans were so inspired, they helped raise the $20 million necessary to try to release the orca/actor back into the wild. Unfortunately, the reality and history of captivity is more complex than in the movie, and has only increased in the years since.</p>
 	

	<p class='intro__prose'>But Free Willy wasn’t the first (or the last) movie to surface this topic to mainstream conversation. To clear up some of these complexities, let’s take a brief stroll through the history of dolphin and whale (cetacean) captivity. <strong>We will explore the past, present, and future of cetacean captivity in the US, and how it is depicted by data and pop culture.</strong></p>

</div>