<section class ='section--lifespan'>
	<div class='methodology__note tk-atlas scroll_methods'>
		<p class='x-small'><mark><strong>Methodology note</strong></mark>: The 25 animals in our database that were transferred from non-US facilities to US facilities are not shown here. The most recently-captured of those animals was captured in 1997, housed in Mexico for 7+ years and transferred to a US facility in 2005. <a target='_blank' href='https://github.com/polygraph-cool/cetaceans/blob/master/src/assets/acquisitionsOnly2.csv' download>Download Data</a></p>
	</div>
	<div class='prose'>
		<h2 class='prose__hed tk-atlas'>How long do they live?</h2>
		<p>Another point of <a target='_blank' href='https://www.nature.com/news/scientists-clash-over-lifespan-of-captive-killer-whales-1.19623'>disagreement</a> between both sides of this debate revolves around animal survival. Specifically, whether or not animals in captivity survive as long as their wild counterparts.</p>

		<p>While a Google search may yield seemingly definitive answers to this question, the full answer is a bit more complicated. Often during conversations of life span, people will discuss the maximum age these animals can live.  But this can be misleading. For instance, the longest a human US citizen has ever lived is 119 years old. But that number does not give any insight into how long you or I will likely live.</p>  

		<p>Instead, we generally rely on life expectancy estimates. In the US, the average human can expect to live around 79 years. This number is calculated based on <mark>how likely it is that you will survive another year</mark>. Wildlife researchers use this same “annual survival rate” for studying wild animal populations.</p>

		<p>So, let’s look at how the annual survival rate (ASR) has changed over time for the 4 most common captive cetacean species. </p>

	</div>

	<div class='lifespan__graphic'>
		<h3 class='graphic__hed tk-canela'>Cetacean Survival Rate</h3>
		<img src='assets/SurvivalRateLowPoly.png' class='image__desktop'>
		<img src='assets/SurvivalRateMobileLowPoly.png' class='image__mobile'>
	</div>


	<div class='methodology__note tk-atlas'>
		<p class='x-small'><mark><strong>Methodology note</strong></mark>: The entire course of cetacean captivity has been equally split into three temporal groups. ASR was calculated for the entire population of animals that entered captivity during each group as described in DeMaster and Drevenak (1988). Due to small sample sizes and to compare to wild animal ASR, age-specific survival rates were not calculated. Animals that died at younger than 60 days of age (or within the first 60 days after capture) were excluded from analysis, to compare to similarly calculated wild values. Animals that were transferred from non-US facilities were included in these data, starting at the date that they joined the US population. Full references available below. <a target='_blank' href='https://github.com/polygraph-cool/cetaceans/blob/master/src/assets/acquisitionsOnly2.csv' download>Download Data</a></p> 
	</div>

</section>