<section class ='section--lifespan'>

<div class='prose--title'>
	<h3>Where are they now?</h3>
</div>

<div class='prose'>
		<p>Only about 20% of the cetaceans that have ever been in captivity in the US are still alive today. Keep in mind, though, we're talking about 80 years of cetaceans in human care, and these animals just don't live that long.</p>

		<p>But how long do they live?</p>

		<p>The short answer is that, on average, captive cetaceans live to 10.7* years old. The information that you don't get from an average value is that the oldest a captive cetacean has ever lived is 61 years old (and she was born in captivity). This value also doesn't necessarily give any indication of how long animals in human care today <em>will</em> live. For instance, the average age of living, captive cetaceans is 17.7 years old, a full 7 years older than the average age of animals that have already died.</p>

		<p>Take a look at the current age or age at death for the three most common species</p>

	</div>

		<div class='lifespan__graphic'>
			<div id = "toggleouter">
        		<div id = "toggle", class = "toggle">
        	</div>
    	</div>

			<div class='graphic__container'></div>
		</div>

</section>