<section class ='section--lifespan'>

<div class='prose'>
		<p>Only about 20% of the cetaceans that have ever been in captivity in the US are still alive today. Keep in mind, though, we're talking about 80 years of cetaceans in human care, and these animals just don't live that long.</p>

		<p>But you may be wondering: "How long do they live?"</p>

		<p>The answer is a little more complicated than you'd expect. If we look at all 2304 animals that have died, we'll find that the average age at death is 7.5 years old. And yes, that is pretty low, but the reason it's so low is due to infant mortality. 17% of these animals died before the age of 1 year (if miscarriages and stillbirths are included). I know, I’m sorry, talking about dead baby animals is unbelievably sad, but this is important. This high rate of infant death isn’t exclusively found in captive animals. In wild populations, X% of newborns won’t survive to one year. To account for this in wild studies, researchers calculate the average age only for animals that survive past one year. If we calculate the average that way, we'll find that the animals survived to an average of 10.7 years old. </p>

		<p>These values give an idea of how long the <em>average</em> captive animal has lived in the past. But that doesn't necessarily give any indication of how long animals in human care today <em>will</em> live. For instance, the average age of living, captive cetaceans is 17.7 years old. So, if by some horrible tragedy every living cetacean in captivity were to die tomorrow, their average lifespan will be a full 7 years longer than the animals that died in the past. Whether this is a reflection of improved animal care, facilities, training techniques, veterinary care, or genetics is impossible to tell from these data. But it does mean that these animals are living a long time, and we'll need to take that into consideration when considering where to go next.</p> 
	</div>

		<div class='lifespan__graphic'>
			<div class='graphic__container'></div>
		</div>

</section>