<section class='section--orcaDeath'>
	<div class='prose'>
		<h3 class='prose__hed'>What do we do next?</h3>
		<p>There are still 563 cetaceans living in human care throughout the U.S. and deciding what to do with them has been a point of contention for animal rights activists and animal care professionals alike. The sticking point for these groups tends to come up with breeding and housing. Should animals be allowed to breed for enrichment, biological imperative, and to maintain the population of captive animals or should it be stopped altogether? Setting aside the difficulties involved in stopping two several hundred pound animals from reproducing, let's look at what ending breeding programs would do to these captive animal populations.</p>

		<p>We'll start with orcas, specifically, because in March 2016, SeaWorld announced that they were ending the breeding program for their wild orcas. Whether or not you consider this a victory, one point still stands: there are 24 orcas still living in the U.S. and these animals live for a long time. And although the simplest answer may seem to be to return these animals to the wild, people both for and against cetacean captivity seem to agree that most of these animals wouldn’t do well if they were released (e.g. they were born in captivity, have no family group, don’t know how to hunt or socialize, haven't been in the ocean in 20+ years etc.). Assuming that they will need to remain in human care for the rest of their lives, how much longer could we still have captive orcas in the U.S.?</p> 
	</div>
	<div class='orcaDeath__graphic'>
		<div class='graphic__container'></div>
	</div>
	<div class='prose'>
		<p>At the time of this post's writing, orcas are the only animals being barred from breeding. But if a breeding ban were instated for all captive cetaceans, how longer would we see them in the U.S.? It's your turn. Use the sliders below to alter the lifespan and breeding ban instatement year to estimate when there will be no animals left. </p> 
	</div>
</section>