<section class='section--orcaDeath'>
	<div class='prose'>
		<h2 class='prose__hed tk-atlas'>What if we stop cetacean breeding?</h2>
		<p>There are still over 500 cetaceans living in human care throughout the US. Deciding what to do with them has been a point of contention for animal rights activists and animal care professionals alike. One of the main sticking points for these groups is animal breeding. Should animals be allowed to breed for enrichment, biological imperative, and to maintain the population of captive animals? Or should it be stopped altogether?</p>

		<p>We’ll start with orcas, specifically, because in March 2016, SeaWorld announced that they were <a target='_blank' href="https://seaworldcares.com/2016/03/Breaking-News-The-Last-Generation-of-Orcas-at-SeaWorld/">ending the breeding program</a> for their orcas. Whether or not you consider this a victory, one point still stands: there are 24 orcas still living in the US, and these animals live for a <em>long time</em>.</p>

		<p>You might be thinking, why not just return these animals to the wild? While this seems both obvious and appealing, people both for and against cetacean captivity tend to agree that most of these animals wouldn’t do well if they were released. There are many factors stacked up against them, like a lack of family group, and not knowing how to hunt or socialize with their wild counterparts. Assuming that they will need to remain in human care of some kind for the rest of their lives, how much longer could we still have captive orcas in the US?
		</p>
	</div>
	<div class='orcaDeath__graphic'>
		<h3 class='graphic__hed tk-canela'>When Will the Captive Orca Population be Exctinct?</h3>
		<div class='graphic__container'></div>
	</div>

	<div class='prose'>
		<p>Orcas are currently the only animals being barred from breeding. But if a breeding ban were instated for all captive cetaceans, how much longer would we see them? It’s your turn to see the effect. Use the sliders below to alter the lifespan and breeding ban instatement year to estimate when there will be no captive animals left.* </p> 
	</div>
</section>